<div>
  <h2 id="page-heading" data-cy="ResponsableHeading">
    <span jhiTranslate="gestionPatrimoineApp.responsable.home.title">Responsables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.responsable.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-responsable"
        [routerLink]="['/responsable/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.responsable.home.createLabel"> Create a new Responsable </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="responsables?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.responsable.home.notFound">No responsables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="responsables && responsables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomResponsable">
            <span jhiTranslate="gestionPatrimoineApp.responsable.nomResponsable">Nom Responsable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenomResponsable">
            <span jhiTranslate="gestionPatrimoineApp.responsable.prenomResponsable">Prenom Responsable</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="gestionPatrimoineApp.responsable.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="specialite">
            <span jhiTranslate="gestionPatrimoineApp.responsable.specialite">Specialite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numb1">
            <span jhiTranslate="gestionPatrimoineApp.responsable.numb1">Numb 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numb2">
            <span jhiTranslate="gestionPatrimoineApp.responsable.numb2">Numb 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="raisonSocial">
            <span jhiTranslate="gestionPatrimoineApp.responsable.raisonSocial">Raison Social</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let responsable of responsables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/responsable', responsable.id, 'view']">{{ responsable.id }}</a>
          </td>
          <td>{{ responsable.nomResponsable }}</td>
          <td>{{ responsable.prenomResponsable }}</td>
          <td>{{ responsable.email }}</td>
          <td>{{ responsable.specialite }}</td>
          <td>{{ responsable.numb1 }}</td>
          <td>{{ responsable.numb2 }}</td>
          <td>{{ responsable.raisonSocial }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/responsable', responsable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/responsable', responsable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(responsable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="responsables && responsables.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
