<div>
  <h2 id="page-heading" data-cy="BatimentHeading">
    <span jhiTranslate="gestionPatrimoineApp.batiment.home.title">Batiments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.batiment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-batiment"
        [routerLink]="['/batiment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.batiment.home.createLabel"> Create a new Batiment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="batiments?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.batiment.home.notFound">No batiments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="batiments && batiments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomBatiment">
            <span jhiTranslate="gestionPatrimoineApp.batiment.nomBatiment">Nom Batiment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nbrPiece">
            <span jhiTranslate="gestionPatrimoineApp.batiment.nbrPiece">Nbr Piece</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="designation">
            <span jhiTranslate="gestionPatrimoineApp.batiment.designation">Designation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="surface">
            <span jhiTranslate="gestionPatrimoineApp.batiment.surface">Surface</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etatGeneral">
            <span jhiTranslate="gestionPatrimoineApp.batiment.etatGeneral">Etat General</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="gestionPatrimoineApp.batiment.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombreSalle">
            <span jhiTranslate="gestionPatrimoineApp.batiment.nombreSalle">Nombre Salle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomEtablissement.id">
            <span jhiTranslate="gestionPatrimoineApp.batiment.nomEtablissement">Nom Etablissement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomCorps.id">
            <span jhiTranslate="gestionPatrimoineApp.batiment.nomCorps">Nom Corps</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batiment of batiments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/batiment', batiment.id, 'view']">{{ batiment.id }}</a>
          </td>
          <td>{{ batiment.nomBatiment }}</td>
          <td>{{ batiment.nbrPiece }}</td>
          <td>{{ batiment.designation }}</td>
          <td>{{ batiment.surface }}</td>
          <td>{{ batiment.etatGeneral }}</td>
          <td>{{ batiment.description }}</td>
          <td>{{ batiment.nombreSalle }}</td>
          <td>
            <div *ngIf="batiment.nomEtablissement">
              <a [routerLink]="['/etablissement', batiment.nomEtablissement?.id, 'view']">{{ batiment.nomEtablissement?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="batiment.nomCorps">
              <a [routerLink]="['/corps-etat', batiment.nomCorps?.id, 'view']">{{ batiment.nomCorps?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/batiment', batiment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/batiment', batiment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(batiment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="batiments && batiments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
