<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <h2 id="page-heading" data-cy="BatimentHeading">
      <span jhiTranslate="gestionPatrimoineApp.batiment.home.title">ETAT DES LIEUX DES INFRASTRUCTURES DE L'ETABLISSEMENT</span>
  
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="gestionPatrimoineApp.batiment.home.refreshListLabel">Refresh List</span>
        </button>
  
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-batiment"
          [routerLink]="['/batiment/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="gestionPatrimoineApp.batiment.home.createLabel"> Ajouter Désignation </span>
        </button>
      </div>
    </h2>
  
    <jhi-alert-error></jhi-alert-error>
  
    <jhi-alert></jhi-alert>
  
    <div class="alert alert-warning" id="no-result" *ngIf="batiments?.length === 0">
      <span jhiTranslate="gestionPatrimoineApp.batiment.home.notFound">No batiments found</span>
    </div>
  
    <div class="table-responsive" id="entities" *ngIf="batiments && batiments.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
            <th scope="col" jhiSortBy="designation">
              <span jhiTranslate="gestionPatrimoineApp.batiment.designation">Designation</span> <fa-icon icon="sort"></fa-icon>
            </th>

            <th scope="col" jhiSortBy="nbrPiece">
              <span jhiTranslate="gestionPatrimoineApp.batiment.nbrPiece">Nbr Piece</span> <fa-icon icon="sort"></fa-icon>
            </th>
            
            <th scope="col" jhiSortBy="surface">
              <span jhiTranslate="gestionPatrimoineApp.batiment.surface">Surface</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="sourceFinancement">
              <span jhiTranslate="gestionPatrimoineApp.batiment.sourceFinancement">Sources de Financement</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="etatGrosOeuvre">
              <span jhiTranslate="gestionPatrimoineApp.batiment.etatGrosOeuvre">Etat du Gros Oeuvre</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="etatSecondOeuvre">
              <span jhiTranslate="gestionPatrimoineApp.batiment.etatSecondOeuvre">Etat du Second Oeuvre</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="nomEtablissement.id">
              <span jhiTranslate="gestionPatrimoineApp.batiment.nomEtablissement">Nom Etablissement</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="nomCorps.id">
              <span jhiTranslate="gestionPatrimoineApp.batiment.nomCorps">Nom Corps</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let batiment of batiments; trackBy: trackId" data-cy="entityTable">
            <!-- <td>
              <a [routerLink]="['/batiment', batiment.id, 'view']">{{ batiment.id }}</a>
            </td> -->
            <td>{{ batiment.designation }}</td>
            <td>{{ batiment.nbrPiece }}</td>
            <td>{{ batiment.surface }}</td>
            <td>{{ batiment.sourceFinancement }}</td>
            <td>{{ batiment.etatGrosOeuvre }}</td>
            <td>{{ batiment.etatSecondOeuvre }}</td>
            <td>{{ batiment.observation }}</td>
            <td>
              <div *ngIf="batiment.nomEtablissement">
                <a [routerLink]="['/etablissement', batiment.nomEtablissement?.id, 'view']">{{ batiment.nomEtablissement?.id }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="batiment.nomCorps">
                <a [routerLink]="['/corps-etat', batiment.nomCorps?.id, 'view']">{{ batiment.nomCorps?.id }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/batiment', batiment.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
  
                <button
                  type="submit"
                  [routerLink]="['/batiment', batiment.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
  
                <button type="submit" (click)="delete(batiment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="batiments && batiments.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
  
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
