<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

<div class="card jh-card col-xs-12 col-md-9 mt-3">
  <h2 id="page-heading" data-cy="CategorieMatiereHeading" style="text-align: center;">
    <span >Categorie Matières</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-categorie-matiere"
        [routerLink]="['/categorie-matiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau Catégorie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categorieMatieres?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.categorieMatiere.home.notFound">No categorieMatieres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categorieMatieres && categorieMatieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col"></th>
          <th scope="col" jhiSortBy="categorie">
            <span jhiTranslate="gestionPatrimoineApp.categorieMatiere.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorieMatiere of categorieMatieres; trackBy: trackId" data-cy="entityTable">
          <td>
          </td>
          <td>{{ categorieMatiere.categorie }}</td>
          <td class="text-right">
            <div class="btn-group">
              <!-- <button
                type="submit"
                [routerLink]="['/categorie-matiere', categorieMatiere.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button> -->

              <button
                type="submit"
                [routerLink]="['/categorie-matiere', categorieMatiere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(categorieMatiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categorieMatieres && categorieMatieres.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
