<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <h2 id="page-heading" data-cy="EquipementHeading" style="text-align: center">
      <span>Liste des Matières</span>

      <hr />

      <div class="d-flex justify-content-end">

         <!-- Search form -->
         <div class="row">
          <form class="search-form" name="editForm" role="form" novalidate (ngSubmit)="rechercher()" [formGroup]="editForm">
            <div class="input-group mr-2">
              <input class="form-control py-2 border-right-0 border" type="search" formControlName="recherche" id="recherche" name="recherche">
              <span class="input-group-append">
                  <button class="btn btn-outline-secondary border-left-0 border" type="submit" [disabled]="editForm.invalid || isSaving">
                    <fa-icon icon="search"></fa-icon>
                  </button>
                </span>
            </div>
          </form>
        </div>

        <button class="btn btn-info mr-2" (click)="previousState()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Actualiser</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-equipement"
          [routerLink]="['/equipement/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Ajouter Matière </span>
        </button>
      </div>
    </h2>

    <!-- <jhi-alert-error></jhi-alert-error> -->

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="detailRecherche?.length === 0">
      <span> Cette Matière n'existe pas </span>
    </div>

    <div class="table-responsive" id="detailRecherche" *ngIf="detailRecherche">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
            <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
            <th scope="col" jhiSortBy="reference"><span>Référence</span><fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="reference">
              <span>Nom Matière</span>
            </th>

            <th scope="col" jhiSortBy="quantite"><span>Quantité</span></th>
            <!-- <th scope="col" jhiSortBy="quantite"><span>Groupe</span></th> -->
            <th scope="col" jhiSortBy="group"><span>Volatile</span></th>

            <th scope="col" jhiSortBy="categorie.id"><span>Catégorie</span></th>
            <th scope="col" style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of detailRecherche" data-cy="entityTable">
            <!-- <td>
              <a [routerLink]="['/equipement', equipement.id, 'view']">{{ equipement.id }}</a>
            </td> -->
            <td>{{ detail[1] }}</td>
            <td>{{ detail[2] }}</td>
          
            <td>
              {{ detail[3] }}
            </td>

            <td>
              <div *ngIf="detail[4] === true">
                <span>
                  <fa-icon icon="check-circle" style="color: greenyellow; font-size: 150%"></fa-icon>
                </span>
              </div>

              <div *ngIf="detail[4] === false">
                <span>
                  <fa-icon icon="check-circle" style="color: red; font-size: 150%"></fa-icon>
                </span>
              </div>
            </td>

            <td>
              <div *ngIf="detail[5]">
                {{ detail[5] }}
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <fa-icon icon="eye"></fa-icon>
                  <!-- <span class="d-none d-md-inline" >Détail</span> -->
                </button>

                <button type="submit" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" >Modifier</span> -->
                </button>

                <button type="submit" class="btn btn-warning btn-sm">
                  <fa-icon icon="bell" style="color: white"></fa-icon>
                  <!-- <span class="d-none d-md-inline" style="color: white;">Signaler</span> -->
                </button>

                <button type="submit" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="trash-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline">Supprimer</span> -->
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
