input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }
  
  .form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
  }
  
  .search-form{
    position: relative;
    right: 220%;
  }