<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <h2 id="page-heading" data-cy="EtablissementHeading" style="text-align: center">
      <span>Etablissements</span>
      <hr />
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Actualiser</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-etablissement"
          [routerLink]="['/etablissement/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Ajouter Etablissement </span>
        </button>
      </div>
    </h2>

    <!-- <jhi-alert-error></jhi-alert-error> -->

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etablissements?.length === 0">
      <span jhiTranslate="gestionPatrimoineApp.etablissement.home.notFound">No etablissements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etablissements && etablissements.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
            <th scope="col" jhiSortBy="nomEtablissement">
              <span>Etablissement</span>
            </th>
            <th scope="col" jhiSortBy="surfaceBatie">
              <span jhiTranslate="gestionPatrimoineApp.etablissement.surfaceBatie">Surface Batie</span>
            </th>
            <th scope="col" jhiSortBy="superficie">
              <span jhiTranslate="gestionPatrimoineApp.etablissement.superficie">Superficie</span>
            </th>
            <th scope="col" jhiSortBy="idPers">
              <span>Chef Etablissement</span>
            </th>
            <!-- <th scope="col" jhiSortBy="nomQuartier.id">
              <span jhiTranslate="gestionPatrimoineApp.etablissement.nomQuartier">Nom Quartier</span>
            </th> -->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let etablissement of etablissements; trackBy: trackId" data-cy="entityTable">
            <!-- <td>
              <a [routerLink]="['/etablissement', etablissement.id, 'view']">{{ etablissement.id }}</a>
            </td> -->
            <td>{{ etablissement.nomEtablissement }}</td>
            <td>{{ etablissement.surfaceBatie }} m²</td>
            <td>{{ etablissement.superficie }} m²</td>
            <td>
              <div *ngIf="etablissement.idPers === 10">
                <span> Babacar Diouf </span>
              </div>
              <div *ngIf="etablissement.idPers === 4">
                <span> Babacar Fall </span>
              </div>
            </td>
            <!-- <td>
              <div *ngIf="etablissement.nomQuartier">
                {{ etablissement.quartier.nomQuartier }}
                <a [routerLink]="['/quartier', etablissement.nomQuartier?.id, 'view']">{{ etablissement.nomQuartier?.id }}</a>
              </div>
            </td> -->
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/etablissement', etablissement.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-toggle="tooltip"
                  title="Détail de l'Etablissement"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                </button>

                <button
                  type="submit"
                  [routerLink]="['/batiment', etablissement.id, 'designations']"
                  class="btn btn-light btn-sm"
                  data-toggle="tooltip"
                  title="Voir Les Batiments de l'Etablissement"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="building"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                </button>

                <button
                  type="submit"
                  [routerLink]="['/projets', etablissement.id, 'projetEtablissement']"
                  class="btn btn-secondary btn-sm"
                  data-toggle="tooltip"
                  title="Voir Les Projets de l'Etablissement"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="project-diagram"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                </button>
                  <!-- <button
                    type="submit"
                    [routerLink]="['/etablissement', etablissement.id, 'view']"
                    class="btn btn-secondary btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="print"></fa-icon>
                     <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </button> -->

                <button
                  type="submit"
                  [routerLink]="['/etablissement', etablissement.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  title="Modifier l'Etablissement"
                  data-cy="entityEditButton"
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                </button>

                <button
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                  type="submit"
                  (click)="delete(etablissement)"
                  class="btn btn-danger btn-sm"
                  data-toggle="tooltip"
                  title="Supprimer l'Etablissement"
                  data-cy="entityDeleteButton"
                >
                  <fa-icon icon="trash-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="etablissements && etablissements.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
