<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-salles-heading" data-cy="SallesCreateUpdateHeading" jhiTranslate="gestionPatrimoineApp.salles.home.createOrEditLabel">
        Create or edit a Salles
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.salles.nomSalle" for="field_nomSalle">Nom Salle</label>
          <input type="text" class="form-control" name="nomSalle" id="field_nomSalle" data-cy="nomSalle" formControlName="nomSalle" />
          <div *ngIf="editForm.get('nomSalle')!.invalid && (editForm.get('nomSalle')!.dirty || editForm.get('nomSalle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomSalle')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.salles.classe" for="field_classe">Classe</label>
          <select class="form-control" name="classe" formControlName="classe" id="field_classe" data-cy="classe">
            <option [ngValue]="null">{{ 'gestionPatrimoineApp.Classe.null' | translate }}</option>
            <option value="ClassePhysique">{{ 'gestionPatrimoineApp.Classe.ClassePhysique' | translate }}</option>
            <option value="ClassePedagogique">{{ 'gestionPatrimoineApp.Classe.ClassePedagogique' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('classe')!.invalid && (editForm.get('classe')!.dirty || editForm.get('classe')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('classe')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.salles.nomBatiment" for="field_nomBatiment"
            >Nom Batiment</label
          >
          <select class="form-control" id="field_nomBatiment" data-cy="nomBatiment" name="nomBatiment" formControlName="nomBatiment">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="batimentOption.id === editForm.get('nomBatiment')!.value?.id ? editForm.get('nomBatiment')!.value : batimentOption"
              *ngFor="let batimentOption of batimentsSharedCollection; trackBy: trackBatimentById"
            >
              {{ batimentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
