.form-control {
  border-radius: 8px;
  height: 47px;
  background-color: #f1f2f6;
  border: none;
  color: #425486;
  padding: 2px;
}

.input-group-text {
  border: none;
  background-color: #f1f2f6;
  padding: 5px;
  color: #a1a9c3;
  font-size: 1.3em;
}

.btn {
  background-color: #4c97ee;
  color: white;
}

.btn-button-precedent {
  background-color: #4c97ee;
  position: relative;
  color: white;
  left: 18%;
}

.btn-button-suivant {
  background-color: #4c97ee;
  position: relative;
  color: white;
  left: 60%;
}
