<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <h2 id="page-heading" data-cy="OrdonnaceurMatiereHeading">
      <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.home.title">Ordonnaceur Matieres</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-ordonnaceur-matiere"
          [routerLink]="['/ordonnaceur-matiere/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.home.createLabel"> Create a new Ordonnaceur Matiere </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ordonnaceurMatieres?.length === 0">
      <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.home.notFound">No ordonnaceurMatieres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ordonnaceurMatieres && ordonnaceurMatieres.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="nomPers">
              <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.nomPers">Nom Pers</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="prenomPers">
              <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.prenomPers">Prenom Pers</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="sexe">
              <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="mobile">
              <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="direction">
              <span jhiTranslate="gestionPatrimoineApp.ordonnaceurMatiere.direction">Direction</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ordonnaceurMatiere of ordonnaceurMatieres; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/ordonnaceur-matiere', ordonnaceurMatiere.id, 'view']">{{ ordonnaceurMatiere.id }}</a>
            </td>
            <td>{{ ordonnaceurMatiere.nomPers }}</td>
            <td>{{ ordonnaceurMatiere.prenomPers }}</td>
            <td jhiTranslate="{{ 'gestionPatrimoineApp.Sexe.' + ordonnaceurMatiere.sexe }}">{{ ordonnaceurMatiere.sexe }}</td>
            <td>{{ ordonnaceurMatiere.mobile }}</td>
            <td>{{ ordonnaceurMatiere.adresse }}</td>
            <td jhiTranslate="{{ 'gestionPatrimoineApp.Direction.' + ordonnaceurMatiere.direction }}">
              {{ ordonnaceurMatiere.direction }}
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/ordonnaceur-matiere', ordonnaceurMatiere.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/ordonnaceur-matiere', ordonnaceurMatiere.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(ordonnaceurMatiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="ordonnaceurMatieres && ordonnaceurMatieres.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
