<div style="position: relative; right: 4%; background-color: white">
  <div style="height: 10%">
    <img
      src="../../../content/images/jhipster_family_member_0_head-512.png"
      class="profile_image"
      alt="indisponible"
      style="position: relative; left: 25%"
    />
    <h4>Abdoulaye Coundoul</h4>
  </div>

  <ul class="list-group shadow">
    <li [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
      <a routerLink="/" style="text-decoration: none">
        <span [ngClass]="{ 'text-active': currentRout === '/' }">
          <hr />
          <fa-icon icon="home"></fa-icon>
          <span jhiTranslate="global.menu.home">Home</span>
          <hr />
        </span>
      </a>
    </li>
    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_COMPTABLE_PRINCIPALE']" style="background-color: white">
      <a class="mt-1" id="adminMenu" data-cy="adminMenu" (click)="myFunction()" style="display: inline-block">
        <span>
          <fa-icon icon="cogs"></fa-icon>
          <span>Gestion des Matières</span>
          <fa-icon id="adminMenuCache" style="display: none" icon="chevron-circle-up"></fa-icon>
          <fa-icon id="adminMenuAffiche" style="display: inline-block" icon="chevron-circle-down"></fa-icon>
        </span>
      </a>

      <!-- <a class="mt-1" id="adminMenuAffiche" data-cy="adminMenu" (click)="cacherListeMatiere()" *ngIf="valeurMatiere == 2">
        <span>
          <fa-icon icon="cogs"></fa-icon>
          <span>Gestion des Matières</span>
        </span>
        <fa-icon icon="chevron-circle-down"></fa-icon>
      </a> -->

      <ul
        class=""
        id="adminMenuAfficheListe"
        style="display: inline-block"
        ngDropDownMenu
        aria-labelledby="admin-menu"
        style="list-style-type: none"
      >
        <li class="mt-1">
          <a href="/equipement">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Matières</span>
          </a>
        </li>
        <!-- <li>
          <a href="/equipement/new">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Enregistrer Matiére</span>
          </a>
        </li> -->
        <li class="mt-1">
          <a href="/affectations">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Affectation Service</span>
          </a>
        </li>

        <li class="mt-1">
          <a href="/attribution">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Affectation Agent</span>
          </a>
        </li>

        <li class="mt-1">
          <a href="/inventaire">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Inventaire</span>
          </a>
        </li>

        <li class="mt-1">
          <a href="/categoriser">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Etat Matière</span>
          </a>
        </li>
      </ul>
    </li>

    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_COMPTABLE_PRINCIPALE', 'ROLE_CHEF_PROJET']" ngbDropdown style="background-color: white">
      <hr />
      <a id="adminMenuInfra" data-cy="adminMenu" (click)="myFunctionInfra()" style="display: inline-block">
        <span>
          <fa-icon icon="chart-bar"></fa-icon>
          <span>Gestion des Infrastructures</span>
          <fa-icon id="adminMenuCacheInfra" icon="chevron-circle-up" style="display: none"></fa-icon>
          <fa-icon id="adminMenuAfficheInfra" style="display: inline-block" icon="chevron-circle-down"></fa-icon>
        </span>
      </a>

      <ul
        class=""
        id="adminMenuListeInfra"
        style="display: inline-block"
        ngDropDownMenu
        aria-labelledby="admin-menu"
        style="list-style-type: none"
      >
        <li class="mt-1" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CHEF_PROJET']">
          <a href="/etablissement">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Etablissements</span>
          </a>
        </li>

        <li class="mt-1" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CHEF_PROJET']">
          <a href="/projets">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Projets</span>
          </a>
        </li>

        <!-- <li class="mt-1">
          <a href="/intervenant" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CHEF_PROJET']">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Intervenants</span>
          </a>
        </li> -->

        <li class="mt-1" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_COMPTABLE_PRINCIPALE']">
          <a href="/attribution-infrastructure">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Affecter Matières</span>
          </a>
        </li>

        <li class="mt-1" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CHEF_PROJET']">
          <a href="">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Signalisation</span>
          </a>
        </li>

        <li class="mt-1" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CHEF_PROJET']">
          <a href="">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Etat des Infrastructures</span>
          </a>
        </li>
      </ul>
    </li>

    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CHEF_MAINTENANCE']" style="background-color: white">
      <hr />
      <a id="adminMenuMaint" data-cy="adminMenu" (click)="myFunctionMaint()" style="display: inline-block">
        <span>
          <fa-icon icon="tools"></fa-icon>
          <span>Gestion Maintenance</span>
          <fa-icon id="adminMenuCacheMaint" style="display: none" icon="chevron-circle-up"></fa-icon>
          <fa-icon id="adminMenuAfficheMaint" style="display: inline-block" icon="chevron-circle-down"></fa-icon>
        </span>
      </a>

      <ul
        class=""
        id="adminMenuListeMaint"
        style="display: inline-block"
        ngDropDownMenu
        aria-labelledby="admin-menu"
        style="list-style-type: none"
      >
        <li class="mt-1">
          <a>
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Signalisations</span>
          </a>
          <ul>
            <li class="mt-1">
              <a href="">
                <fa-icon icon="cogs"></fa-icon>
                <span>Matières</span>
              </a>
            </li>
            <li class="mt-1">
              <a href="">
                <fa-icon icon="chart-bar"></fa-icon>
                <span>Infrastructures</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="mt-1">
          <a href="/requete">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Demandes</span>
          </a>
        </li>

        <li class="mt-1">
          <a href="/fiche-technique">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span> Fiches Techniques</span>
          </a>
        </li>

        <li class="mt-1">
          <a href="/technicien">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Prestatires</span>
          </a>
        </li>

        <li class="mt-1">
          <a href="">
            <fa-icon icon="angle-double-right"></fa-icon>
            <span>Etat des Demandes</span>
          </a>
        </li>
      </ul>
      <hr />
    </li>

    <a class="" (click)="logout()" style="text-decoration: none">
      <span> <fa-icon icon="sign-out-alt" class="fa-lg mr-2"></fa-icon> Déconnexion </span>
    </a>
  </ul>
</div>
