<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9" *ngIf="batiment">
    <div *ngIf="batiment">
      <h2 data-cy="batimentDetailsHeading"><span>Détail du {{ batiment.designation }} de {{ batiment.nomEtablissement?.nomEtablissement }}</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">

        <dt><span>Désignation</span></dt>
        <dd>
          <span>{{ batiment.designation }}</span>
        </dd>

        <dt><span>Nbr Piece</span></dt>
        <dd>
          <span>{{ batiment.nbrPiece }}</span>
        </dd>
        
        <dt><span>Surface</span></dt>
        <dd>
          <span>{{ batiment.surface }}</span>
        </dd>

        <dt><span>Source de Financement</span></dt>
        <dd>
          <span>{{ batiment.sourceFinancement }}</span>
        </dd>

        <dt><span>Etat du Gros Oeuvre</span></dt>
        <dd>
          <span>{{ batiment.etatGrosOeuvre }}</span>
        </dd>

        <dt><span>Etat du second Oeuvre</span></dt>
        <dd>
          <span>{{ batiment.etatGrosOeuvre }}</span>
        </dd>

        <dt><span>Observation</span></dt>
        <dd>
          <span>{{ batiment.observation }}</span>
        </dd>

        <dt><span jhiTranslate="gestionPatrimoineApp.batiment.nomEtablissement">Nom Etablissement</span></dt>
        <dd>
          <div *ngIf="batiment.nomEtablissement">
            <a [routerLink]="['/etablissement', batiment.nomEtablissement?.id, 'view']">{{ batiment.nomEtablissement?.nomEtablissement }}</a>
          </div>
        </dd>
      </dl>
      <hr />

      <div class="container" style="text-align: center;">
        <div *ngIf="batiment.photo">
            <img
              [src]="'data:' + batiment.photoContentType + ';base64,' + batiment.photo"
              style="max-width: 100%; max-height: 100%;"
              alt="batiment image"
            />
        </div>
    </div>

    <hr />
    <div *ngIf="batiment.dateSignalisation">
    <h2 data-cy="batimentDetailsHeading"><span>Détail du Signalisation du {{ batiment.designation }} de {{ batiment.nomEtablissement?.nomEtablissement }}</span></h2>
    <hr>
    <dl>
      <dt><span>Objet Signalisation</span></dt>
        <dd>
          <span>{{ batiment.descriptionSignalisation }}</span>
        </dd>
      
      <dt><span>Date Signalisation</span></dt>
        <dd>
          <span>{{ batiment.dateSignalisation }}</span>
        </dd>
      
        <hr>

        <div class="container" style="text-align: center;">
            <div *ngIf="batiment.photoSignalisationGrosOeuvre">
                <img
                  [src]="'data:' + batiment.photoSignalisationGrosOeuvreContentType + ';base64,' + batiment.photoSignalisationGrosOeuvre"
                  style="max-width: 100%; max-height: 100%;"
                  alt="batiment image"
                />
            </div>
        </div>
  
        <hr />

        <hr>

        <div class="container" style="text-align: center;">
            <div *ngIf="batiment.photoSignalisationSecondOeuvre">
                <img
                  [src]="'data:' + batiment.photoSignalisationSecondOeuvreContentType + ';base64,' + batiment.photoSignalisationSecondOeuvre"
                  style="max-width: 100%; max-height: 100%;"
                  alt="batiment image"
                />
            </div>
        </div>
  
        <hr />
    </dl>
    </div>

      <button type="submit" (click)="previousState()" class="btn btn-outline-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/batiment', batiment.id, 'edit']" class="btn btn-outline-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>

</div>
