<div>
  <h2 id="page-heading" data-cy="ChefProjetHeading">
    <span jhiTranslate="gestionPatrimoineApp.chefProjet.home.title">Chef Projets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.chefProjet.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chef-projet"
        [routerLink]="['/chef-projet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.chefProjet.home.createLabel"> Create a new Chef Projet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chefProjets?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.chefProjet.home.notFound">No chefProjets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chefProjets && chefProjets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomPers">
            <span jhiTranslate="gestionPatrimoineApp.chefProjet.nomPers">Nom Pers</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenomPers">
            <span jhiTranslate="gestionPatrimoineApp.chefProjet.prenomPers">Prenom Pers</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <span jhiTranslate="gestionPatrimoineApp.chefProjet.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mobile">
            <span jhiTranslate="gestionPatrimoineApp.chefProjet.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <span jhiTranslate="gestionPatrimoineApp.chefProjet.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="direction">
            <span jhiTranslate="gestionPatrimoineApp.chefProjet.direction">Direction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chefProjet of chefProjets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chef-projet', chefProjet.id, 'view']">{{ chefProjet.id }}</a>
          </td>
          <td>{{ chefProjet.nomPers }}</td>
          <td>{{ chefProjet.prenomPers }}</td>
          <td jhiTranslate="{{ 'gestionPatrimoineApp.Sexe.' + chefProjet.sexe }}">{{ chefProjet.sexe }}</td>
          <td>{{ chefProjet.mobile }}</td>
          <td>{{ chefProjet.adresse }}</td>
          <td jhiTranslate="{{ 'gestionPatrimoineApp.Direction.' + chefProjet.direction }}">{{ chefProjet.direction }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chef-projet', chefProjet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chef-projet', chefProjet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chefProjet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chefProjets && chefProjets.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
