<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2
          id="jhi-batiment-heading"
          data-cy="BatimentCreateUpdateHeading"
        >
          Signaler Désignation
        </h2>
  
        <div>
          <jhi-alert-error></jhi-alert-error>
  
          <!-- <div class="form-group" [hidden]="editForm.get('id')!.value == null">
            <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div> -->
  
          <div class="form-group">
            <label class="form-control-label"  for="field_designation"
              >Désignation</label
            >
            <input
              type="text"
              class="form-control"
              name="designation"
              id="field_designation"
              data-cy="designation"
              formControlName="designation"
              readonly
            />
            <div *ngIf="editForm.get('designation')!.invalid && (editForm.get('designation')!.dirty || editForm.get('designation')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('designation')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
  
          <div class="form-group">
            <label class="form-control-label" for="field_nbrPiece">Nombre de Pièces</label>
            <input type="number" class="form-control" name="nbrPiece" id="field_nbrPiece" data-cy="nbrPiece" formControlName="nbrPiece"  readonly/>
            <div *ngIf="editForm.get('nbrPiece')!.invalid && (editForm.get('nbrPiece')!.dirty || editForm.get('nbrPiece')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('nbrPiece')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('nbrPiece')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.batiment.surface" for="field_surface">Surface</label>
            <input type="number" class="form-control" name="surface" id="field_surface" data-cy="surface" formControlName="surface" readonly/>
            <div *ngIf="editForm.get('surface')!.invalid && (editForm.get('surface')!.dirty || editForm.get('surface')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('surface')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('surface')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
  
          <div class="form-group">
            <label class="form-control-label"  for="field_sourceFinancement"
              >Source de Financement</label
            >
            <input
              type="text"
              class="form-control"
              name="sourceFinancement"
              id="field_sourceFinancement"
              data-cy="sourceFinancement"
              formControlName="sourceFinancement"
              readonly
            />
            <div *ngIf="editForm.get('sourceFinancement')!.invalid && (editForm.get('sourceFinancement')!.dirty || editForm.get('sourceFinancement')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('sourceFinancement')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
  
          <div class="form-group">
            <label
              class="form-control-label"
              for="field_dateSignalisation"
              >Date Signalisation</label
            >
            <div class="d-flex">
              <input
                id="field_dateSignalisation"
                data-cy="dateSignalisation"
                type="datetime-local"
                class="form-control"
                name="dateSignalisation"
                formControlName="dateSignalisation"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_photoSignalisationGrosOeuvre">Photo Gros Oeuvre</label>
            <div>
              <img
                [src]="'data:' + editForm.get('photoSignalisationGrosOeuvreContentType')!.value + ';base64,' + editForm.get('photoSignalisationGrosOeuvre')!.value"
                style="max-height: 100px"
                *ngIf="editForm.get('photoSignalisationGrosOeuvre')!.value"
                alt="equipement image"
              />
              <div *ngIf="editForm.get('photoSignalisationGrosOeuvre')!.value" class="form-text text-danger clearfix">
                <span class="pull-left">{{ editForm.get('photoSignalisationGrosOeuvreContentType')!.value }}, {{ byteSize(editForm.get('photoSignalisationGrosOeuvre')!.value) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('photoSignalisationGrosOeuvre', 'photoSignalisationGrosOeuvreContentType', 'file_photoSignalisationGrosOeuvre')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <input
                type="file"
                id="file_photoSignalisationGrosOeuvre"
                data-cy="photoSignalisationGrosOeuvre"
                (change)="setFileData($event, 'photoSignalisationGrosOeuvre', true)"
                accept="image/*"
                jhiTranslate="entity.action.addimage"
              />
            </div>
            <input type="hidden" class="form-control" name="photoSignalisationGrosOeuvre" id="field_photoSignalisationGrosOeuvre" data-cy="photoSignalisationGrosOeuvre" formControlName="photoSignalisationGrosOeuvre" />
            <input
              type="hidden"
              class="form-control"
              name="photoSignalisationGrosOeuvreContentType"
              id="field_photoSignalisationGrosOeuvreContentType"
              formControlName="photoSignalisationGrosOeuvreContentType"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_photoSignalisationSecondOeuvre">Photo Second Oeuvre</label>
            <div>
              <img
                [src]="'data:' + editForm.get('photoSignalisationSecondOeuvreContentType')!.value + ';base64,' + editForm.get('photoSignalisationSecondOeuvre')!.value"
                style="max-height: 100px"
                *ngIf="editForm.get('photoSignalisationSecondOeuvre')!.value"
                alt="equipement image"
              />
              <div *ngIf="editForm.get('photoSignalisationSecondOeuvre')!.value" class="form-text text-danger clearfix">
                <span class="pull-left">{{ editForm.get('photoSignalisationSecondOeuvreContentType')!.value }}, {{ byteSize(editForm.get('photoSignalisationSecondOeuvre')!.value) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('photoSignalisationSecondOeuvre', 'photoSignalisationSecondOeuvreContentType', 'file_photoSignalisationSecondOeuvre')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <input
                type="file"
                id="file_photoSignalisationSecondOeuvre"
                data-cy="photoSignalisationSecondOeuvre"
                (change)="setFileData($event, 'photoSignalisationSecondOeuvre', true)"
                accept="image/*"
                jhiTranslate="entity.action.addimage"
              />
            </div>
            <input type="hidden" class="form-control" name="photoSignalisationSecondOeuvre" id="field_photoSignalisationSecondOeuvre" data-cy="photoSignalisationSecondOeuvre" formControlName="photoSignalisationSecondOeuvre" />
            <input
              type="hidden"
              class="form-control"
              name="photoSignalisationSecondOeuvreContentType"
              id="field_photoSignalisationSecondOeuvreContentType"
              formControlName="photoSignalisationSecondOeuvreContentType"
            />
          </div>
  
          <div class="form-group">
            <label class="form-control-label"  for="field_etatGrosOeuvre"
              >Etat du Gros Oeuvre</label
            >
            <input
              type="text"
              class="form-control"
              name="etatGrosOeuvre"
              id="field_etatGrosOeuvre"
              data-cy="etatGrosOeuvre"
              formControlName="etatGrosOeuvre"
            />
            <div *ngIf="editForm.get('etatGrosOeuvre')!.invalid && (editForm.get('etatGrosOeuvre')!.dirty || editForm.get('etatGrosOeuvre')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('etatGrosOeuvre')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
  
          <div class="form-group">
            <label class="form-control-label" for="field_etatSecondOeuvre"
              >Etat du Second Oeuvre</label
            >
            <input
              type="text"
              class="form-control"
              name="etatSecondOeuvre"
              id="field_etatSecondOeuvre"
              data-cy="etatSecondOeuvre"
              formControlName="etatSecondOeuvre"
            />
            <div *ngIf="editForm.get('etatSecondOeuvre')!.invalid && (editForm.get('etatSecondOeuvre')!.dirty || editForm.get('etatSecondOeuvre')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('etatSecondOeuvre')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
  
          <div class="form-group">
            <label class="form-control-label" for="field_descriptionSignalisation">Description de L'état</label>
            <textarea
              class="form-control"
              name="descriptionSignalisation"
              id="field_descriptionSignalisation"
              data-cy="descriptionSignalisation"
              formControlName="descriptionSignalisation"
              rows="10"
            >
            </textarea>
            <div
              *ngIf="
                editForm.get('descriptionSignalisation')!.invalid &&
                (editForm.get('descriptionSignalisation')!.dirty || editForm.get('descriptionSignalisation')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('descriptionSignalisation')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
          
  
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.batiment.nomEtablissement" for="field_nomEtablissement"
              >Nom Etablissement</label
            >
            <select
              class="form-control"
              id="field_nomEtablissement"
              data-cy="nomEtablissement"
              name="nomEtablissement"
              formControlName="nomEtablissement"
              aria-readonly="true"
            >
              <option [ngValue]="null"></option>
              <option
                [ngValue]="
                  etablissementOption.id === editForm.get('nomEtablissement')!.value?.id
                    ? editForm.get('nomEtablissement')!.value
                    : etablissementOption
                "
                *ngFor="let etablissementOption of etablissementsSharedCollection; trackBy: trackEtablissementById"
              >
                {{ etablissementOption?.nomEtablissement }}
              </option>
            </select>
          </div>
        </div>
  
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
  
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
</div>



