<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chefEtablissement">
      <h2 data-cy="chefEtablissementDetailsHeading">
        <span jhiTranslate="gestionPatrimoineApp.chefEtablissement.detail.title">Chef Etablissement</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chefEtablissement.id }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.chefEtablissement.nomPers">Nom Pers</span></dt>
        <dd>
          <span>{{ chefEtablissement.nomPers }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.chefEtablissement.prenomPers">Prenom Pers</span></dt>
        <dd>
          <span>{{ chefEtablissement.prenomPers }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.chefEtablissement.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gestionPatrimoineApp.Sexe.' + chefEtablissement.sexe }}">{{ chefEtablissement.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.chefEtablissement.mobile">Mobile</span></dt>
        <dd>
          <span>{{ chefEtablissement.mobile }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.chefEtablissement.adresse">Adresse</span></dt>
        <dd>
          <span>{{ chefEtablissement.adresse }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chef-etablissement', chefEtablissement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
