<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="detailSortie">
      <h2 data-cy="detailSortieDetailsHeading"><span jhiTranslate="gestionPatrimoineApp.detailSortie.detail.title">Detail Sortie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ detailSortie.id }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.detailSortie.pieceJointe">Piece Jointe</span></dt>
        <dd>
          <span>{{ detailSortie.pieceJointe }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.detailSortie.idPers">Id Pers</span></dt>
        <dd>
          <span>{{ detailSortie.idPers }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.detailSortie.typeBon">Type Bon</span></dt>
        <dd>
          <div *ngIf="detailSortie.typeBon">
            <a [routerLink]="['/bon', detailSortie.typeBon?.id, 'view']">{{ detailSortie.typeBon?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/detail-sortie', detailSortie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
