<div>
  <h2 id="page-heading" data-cy="MagazinHeading">
    <span jhiTranslate="gestionPatrimoineApp.magazin.home.title">Magazins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.magazin.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-magazin"
        [routerLink]="['/magazin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.magazin.home.createLabel"> Create a new Magazin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="magazins?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.magazin.home.notFound">No magazins found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="magazins && magazins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomMagazin">
            <span jhiTranslate="gestionPatrimoineApp.magazin.nomMagazin">Nom Magazin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="surfaceBatie">
            <span jhiTranslate="gestionPatrimoineApp.magazin.surfaceBatie">Surface Batie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="superficie">
            <span jhiTranslate="gestionPatrimoineApp.magazin.superficie">Superficie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="idPers">
            <span jhiTranslate="gestionPatrimoineApp.magazin.idPers">Id Pers</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomQuartier.id">
            <span jhiTranslate="gestionPatrimoineApp.magazin.nomQuartier">Nom Quartier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let magazin of magazins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/magazin', magazin.id, 'view']">{{ magazin.id }}</a>
          </td>
          <td>{{ magazin.nomMagazin }}</td>
          <td>{{ magazin.surfaceBatie }}</td>
          <td>{{ magazin.superficie }}</td>
          <td>{{ magazin.idPers }}</td>
          <td>
            <div *ngIf="magazin.nomQuartier">
              <a>{{ magazin.nomQuartier?.nomQuartier }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/magazin', magazin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/magazin', magazin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(magazin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="magazins && magazins.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
