<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <h2 id="page-heading" data-cy="AffectationsHeading" style="text-align: center">
      <span>Liste des Affectations de Matières aux Services</span>
      <hr />

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Actualiser</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-affectations"
          [routerLink]="['/affectations/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Nouvelle Affectation </span>
        </button>
      </div>
    </h2>

    <!-- <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert> -->

    <div class="alert alert-warning" id="no-result" *ngIf="affectations?.length === 0">
      <span jhiTranslate="gestionPatrimoineApp.affectations.home.notFound">No affectations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="affectations && affectations.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="dateAttribution"><span>Date </span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="typeAttribution">
              <span>Type</span>
            </th>
            <th scope="col" jhiSortBy="beneficiaire">
              <span>Bénéficiare</span>
            </th>
            <th scope="col" jhiSortBy="equipement.id">
              <span>Matière</span>
            </th>
            <th scope="col" jhiSortBy="quantiteAffecter">
              <span>Quantite </span>
            </th>
            <!-- <th scope="col" jhiSortBy="idPers">
              <span >Comptable Secondaire</span>
            </th> -->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let affectations of affectations; trackBy: trackId" data-cy="entityTable">
            <td>{{ affectations.dateAttribution | formatMediumDate }}</td>

            <td jhiTranslate="{{ 'gestionPatrimoineApp.Type.' + affectations.typeAttribution }}">{{ affectations.typeAttribution }}</td>
            <td>{{ affectations.beneficiaire }}</td>
            <td>
              <div *ngIf="affectations.equipement">
                <a [routerLink]="['/equipement', affectations.equipement?.id, 'view']">{{ affectations.equipement.reference }}</a>
              </div>
            </td>
            <td>{{ affectations.quantiteAffecter }}</td>
            <!-- <td>
              <div *ngIf="affectations.idPers === 2">
                <span>
                  Moussa Ndiaye
                </span>
              </div>

              <div *ngIf="affectations.idPers === 12">
                <span>
                  Papis Fall  
                </span>
              </div>

              <div *ngIf="affectations.idPers === 3">
                <span>
                  Abdou Ba  
                </span>
              </div>
            </td> -->

            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/affectations', affectations.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <!-- <span class="d-none d-md-inline">Details</span> -->
                </button>

                <button
                  type="submit"
                  [routerLink]="['/affectations', affectations.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline">Modifier</span> -->
                </button>

                <button type="submit" (click)="delete(affectations)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="trash-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline">Supprimer</span> -->
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="affectations && affectations.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
