<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="directeur">
      <h2 data-cy="directeurDetailsHeading"><span jhiTranslate="gestionPatrimoineApp.directeur.detail.title">Directeur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ directeur.id }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.directeur.nomPers">Nom Pers</span></dt>
        <dd>
          <span>{{ directeur.nomPers }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.directeur.prenomPers">Prenom Pers</span></dt>
        <dd>
          <span>{{ directeur.prenomPers }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.directeur.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gestionPatrimoineApp.Sexe.' + directeur.sexe }}">{{ directeur.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.directeur.mobile">Mobile</span></dt>
        <dd>
          <span>{{ directeur.mobile }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.directeur.adresse">Adresse</span></dt>
        <dd>
          <span>{{ directeur.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.directeur.direction">Direction</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gestionPatrimoineApp.Direction.' + directeur.direction }}">{{ directeur.direction }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/directeur', directeur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
