<div class="row">
  <div class="col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <div *ngIf="equipement">
      <h2 data-cy="equipementDetailsHeading" style="text-align: center">
        <span>Détail Matière {{ equipement.reference }}</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        
        <dt><span>Référence</span></dt>
        <dd>
          <span>{{ equipement.reference }}</span>
        </dd>
        <dt><span>Nom Matière</span></dt>
        <dd>
          <span>{{ equipement.nomMatiere }}</span>
        </dd>
        <dt><span>Caractéristique</span></dt>
        <dd>
          <span>{{ equipement.caracteristique }}</span>
        </dd>
        <dt><span>Bénéficiaire</span></dt>
        <dd>
          <span>{{ equipement.description }}</span>
        </dd>
        <dt><span>Type Matière</span></dt>
        <dd>
          <span>{{ equipement.typeMatiere }}</span>
        </dd>
        <dt><span>Quantité</span></dt>
        <dd>
          <span>{{ equipement.quantite }}</span>
        </dd>
        <dt><span>Volatile</span></dt>
        <dd>
          <div *ngIf="equipement.group === true">
            <span>
              <fa-icon icon="check-circle" style="color: greenyellow; font-size: 150%"></fa-icon>
            </span>
          </div>

          <div *ngIf="equipement.group === false">
            <span>
              <fa-icon icon="check-circle" style="color: red; font-size: 150%"></fa-icon>
            </span>
          </div>
        </dd>
        <dt><span>Etat Matière</span></dt>
        <dd>
          <div *ngIf="equipement.etatMatiere === 'Bon Etat'">
            <span>
              <fa-icon icon="lightbulb" style="color: greenyellow; font-size: 150%"></fa-icon>
            </span>
          </div>

          <div *ngIf="equipement.etatMatiere === 'Mauvais Etat'">
            <span>
              <fa-icon icon="lightbulb" style="color: #ff9900; font-size: 150%"></fa-icon>
            </span>
          </div>

          <div *ngIf="equipement.etatMatiere === 'Hors Service'">
            <span>
              <fa-icon icon="lightbulb" style="color: red; font-size: 150%"></fa-icon>
            </span>
          </div>
        </dd>
        <dt><span>Magazin</span></dt>
        <dd>
          <div *ngIf="equipement.magazin">
            {{ equipement.magazin?.nomMagazin }}
            <!-- <a [routerLink]="['/magazin', equipement.nomMagazin?.id, 'view']">{{ equipement.nomMagazin?.id }}</a> -->
          </div>
        </dd>
        <dt><span>Fournisseur</span></dt>
        <dd>
          <div *ngIf="equipement.fournisseur">
            {{ equipement.fournisseur?.prenomFournisseur }} {{ equipement.fournisseur?.nomFournisseur }}
            <!-- <a [routerLink]="['/fournisseur', equipement.nomFournisseur?.id, 'view']">{{ equipement.nomFournisseur?.id }}</a> -->
          </div>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.equipement.categorie">Categorie</span></dt>
        <dd>
          <div *ngIf="equipement.categorie">
            {{ equipement.categorie.categorie }}
            <!-- <a [routerLink]="['/categorie-matiere', equipement.categorie?.id, 'view']">{{ equipement.categorie?.id }}</a> -->
          </div>
        </dd>
        <dt><span>Numéro de Bon</span></dt>
        <dd>
          <div *ngIf="equipement.bon">
            <a [routerLink]="['/bon', equipement.bon?.id, 'view']">{{ equipement.bon?.id }}</a>
          </div>
        </dd>

        <dt></dt>
      </dl>
        <div class="container">
          <mat-carousel
            timings="250ms ease-in"
            [autoplay]="true"
            color="accent"
            maxWidth="auto"
            [loop]="true"
            [hideArrows]="false"
            [hideIndicators]="false"
            [useKeyboard]="true"
            [useMouseWheel]="false"
            orientation="ltr"
          >
            <mat-carousel-slide
              #matCarouselSlide
              overlayColor="#00000040"
              [hideOverlay]="false"
            >
            <div *ngIf="equipement.photo">
              <a (click)="openFile(equipement.photo, equipement.photoContentType)">
                <img
                  [src]="'data:' + equipement.photoContentType + ';base64,' + equipement.photo"
                  style="max-width: 100%; max-height: 100%;"
                  alt="equipement image"
                />
              </a>
              <!-- , {{ byteSize(equipement.photo) }} -->
              </div>
            </mat-carousel-slide>

            <mat-carousel-slide
            #matCarouselSlide
            overlayColor="#00000040"
            [hideOverlay]="false"
            >
              <div *ngIf="equipement.photo1">
                <a (click)="openFile(equipement.photo1, equipement.photoContentType)">
                  <img
                    [src]="'data:' + equipement.photoContentType + ';base64,' + equipement.photo1"
                    style="max-width: 100%; max-height: 100%;"
                    alt="equipement image"
                  />
                </a>
                <!-- , {{ byteSize(equipement.photo) }} -->
                </div>
            </mat-carousel-slide>


            <mat-carousel-slide
            #matCarouselSlide
            overlayColor="#00000040"
            [hideOverlay]="false"
            >
              <div *ngIf="equipement.photo2">
                <a (click)="openFile(equipement.photo2, equipement.photoContentType)">
                  <img
                    [src]="'data:' + equipement.photoContentType + ';base64,' + equipement.photo2"
                    style="max-width: 100%; max-height: 100%;"
                    alt="equipement image"
                  />
                </a>
                <!-- , {{ byteSize(equipement.photo) }} -->
                </div>
            </mat-carousel-slide>

          </mat-carousel>

        </div>
        
        <br>


        <!-- <div fxLayout="row">
          <mat-card fxLayout="row" fxFlex="80%" class="center space-top">
            <mat-card-content fxLayout.gt-sm="row">
              <div fxLayout.gt-sm="column" fxFlex.gt-sm="40%">
                <img mat-card-image src="'data:' + equipement.photoContentType + ';base64,' + equipement.photo" alt="background image">
              </div>
              <div fxLayout.gt-sm="column" fxFlex.gt-sm="50%" class="gutter">
                <router-outlet></router-outlet>
              </div>
            </mat-card-content>
          </mat-card>
        </div> -->
      

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/equipement', equipement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Modifier</span>
      </button>
    </div>
  </div>
</div>



