<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-affectations-heading" data-cy="AffectationsCreateUpdateHeading" style="text-align: center">Nouvelle Affectation</h2>
      <hr />
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateAttribution">Date</label>
          <div class="d-flex">
            <input
              id="field_dateAttribution"
              data-cy="dateAttribution"
              type="datetime-local"
              class="form-control"
              name="dateAttribution"
              formControlName="dateAttribution"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.affectations.typeAttribution" for="field_typeAttribution"
            >Type Attribution</label
          >
          <select
            class="form-control"
            name="typeAttribution"
            formControlName="typeAttribution"
            id="field_typeAttribution"
            data-cy="typeAttribution"
          >
            <option [ngValue]="null">{{ 'gestionPatrimoineApp.Type.null' | translate }}</option>
            <option value="ReAffectation">{{ 'gestionPatrimoineApp.Type.ReAffectation' | translate }}</option>
            <option value="Affectation">{{ 'gestionPatrimoineApp.Type.Affectation' | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('typeAttribution')!.invalid &&
              (editForm.get('typeAttribution')!.dirty || editForm.get('typeAttribution')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('typeAttribution')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_beneficiaire">Bénéficiare</label>
          <select class="form-control" name="beneficiaire" formControlName="beneficiaire" id="field_beneficiaire" data-cy="beneficiaire">
            <option [ngValue]="null"></option>
            <option value="DRH">DRH</option>
            <option value="DFPT">DFPT</option>
            <option value="PEJA">PEJA</option>
            <option value="Cellule Informatique">Cellule Informatique</option>
            <option value="Cellule Genre">Cellule Genre</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_equipement">Matière</label>
          <select class="form-control" id="field_equipement" data-cy="equipement" name="equipement" formControlName="equipement">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                equipementOption.id === editForm.get('equipement')!.value?.id ? editForm.get('equipement')!.value : equipementOption
              "
              *ngFor="let equipementOption of equipementsSharedCollection; trackBy: trackEquipementById"
            >
              {{ equipementOption.reference }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_quantiteAffecter">Quantite</label>
          <input
            type="number"
            class="form-control"
            name="quantiteAffecter"
            id="field_quantiteAffecter"
            data-cy="quantiteAffecter"
            formControlName="quantiteAffecter"
          />
          <div
            *ngIf="
              editForm.get('quantiteAffecter')!.invalid &&
              (editForm.get('quantiteAffecter')!.dirty || editForm.get('quantiteAffecter')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantiteAffecter')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantiteAffecter')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label"  for="field_idPers">Comptable Secondaire</label>
          <input type="number" class="form-control" name="idPers" id="field_idPers" data-cy="idPers" formControlName="idPers" />
          <div *ngIf="editForm.get('idPers')!.invalid && (editForm.get('idPers')!.dirty || editForm.get('idPers')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('idPers')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('idPers')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
