<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <h2 id="page-heading" data-cy="MangasinierFichisteHeading">
      <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.home.title">Mangasinier Fichistes</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-mangasinier-fichiste"
          [routerLink]="['/mangasinier-fichiste/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.home.createLabel"> Create a new Mangasinier Fichiste </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mangasinierFichistes?.length === 0">
      <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.home.notFound">No mangasinierFichistes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mangasinierFichistes && mangasinierFichistes.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="nomPers">
              <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.nomPers">Nom Pers</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="prenomPers">
              <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.prenomPers">Prenom Pers</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="sexe">
              <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="mobile">
              <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="direction">
              <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.direction">Direction</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="comptablePrincipale.id">
              <span jhiTranslate="gestionPatrimoineApp.mangasinierFichiste.comptablePrincipale">Comptable Principale</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mangasinierFichiste of mangasinierFichistes; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/mangasinier-fichiste', mangasinierFichiste.id, 'view']">{{ mangasinierFichiste.id }}</a>
            </td>
            <td>{{ mangasinierFichiste.nomPers }}</td>
            <td>{{ mangasinierFichiste.prenomPers }}</td>
            <td jhiTranslate="{{ 'gestionPatrimoineApp.Sexe.' + mangasinierFichiste.sexe }}">{{ mangasinierFichiste.sexe }}</td>
            <td>{{ mangasinierFichiste.mobile }}</td>
            <td>{{ mangasinierFichiste.adresse }}</td>
            <td jhiTranslate="{{ 'gestionPatrimoineApp.Direction.' + mangasinierFichiste.direction }}">
              {{ mangasinierFichiste.direction }}
            </td>
            <td>
              <div *ngIf="mangasinierFichiste.comptablePrincipale">
                <a [routerLink]="['/comptable-principale', mangasinierFichiste.comptablePrincipale?.id, 'view']">{{
                  mangasinierFichiste.comptablePrincipale?.id
                }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/mangasinier-fichiste', mangasinierFichiste.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/mangasinier-fichiste', mangasinierFichiste.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(mangasinierFichiste)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="mangasinierFichistes && mangasinierFichistes.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
