<div class="footer text-center text-white" style="background-color: #0a4275; height: 50%">
  <!-- Section: Social media -->
  <section class="mb-4">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
    </a>

    <!-- Whatsapp -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
    </a>

    <!-- Twitter -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>

    <!-- Google -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <fa-icon [icon]="['fab', 'google']"></fa-icon>
    </a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>

    <!-- Github -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
  </section>

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Cellule Informatique / MFPAI</a>
    <p style="color: white; font-weight: bold; font-size: 100%">Direction de l'Administration Générale et de l'Equipement(DAGE)</p>
  </div>
</div>
