<div class="row">
  <div class="col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-md-9 justify-content-center">
    <div>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2 id="jhi-attribution-heading" data-cy="AttributionCreateUpdateHeading">Nouvelle Affectation</h2>

        <div>
          <jhi-alert-error></jhi-alert-error>

          <div class="form-group" [hidden]="editForm.get('id')!.value == null">
            <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_quantiteAffecter">Quantite à Affecter</label>
            <input
              type="number"
              class="form-control"
              name="quantiteAffecter"
              id="field_quantiteAffecter"
              data-cy="quantiteAffecter"
              formControlName="quantiteAffecter"
            />
            <div
              *ngIf="
                editForm.get('quantiteAffecter')!.invalid &&
                (editForm.get('quantiteAffecter')!.dirty || editForm.get('quantiteAffecter')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('quantiteAffecter')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantiteAffecter')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.attribution.idPers" for="field_idPers">Id Pers</label>
            <input type="number" class="form-control" name="idPers" id="field_idPers" data-cy="idPers" formControlName="idPers" />
            <div *ngIf="editForm.get('idPers')!.invalid && (editForm.get('idPers')!.dirty || editForm.get('idPers')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('idPers')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('idPers')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.attribution.dateAffectation" for="field_dateAffectation"
              >Date Affectation</label
            >
            <div class="d-flex">
              <input
                id="field_dateAffectation"
                data-cy="dateAffectation"
                type="datetime-local"
                class="form-control"
                name="dateAffectation"
                formControlName="dateAffectation"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_nomUtilisateur">Agents</label>
            <select
              class="form-control"
              id="field_nomUtilisateur"
              data-cy="nomUtilisateur"
              name="nomUtilisateur"
              formControlName="nomUtilisateur"
            >
              <option [ngValue]="null"></option>
              <option
                [ngValue]="
                  utilisateurFinalOption.id === editForm.get('nomUtilisateur')!.value?.id
                    ? editForm.get('nomUtilisateur')!.value
                    : utilisateurFinalOption
                "
                *ngFor="let utilisateurFinalOption of utilisateurFinalsSharedCollection; trackBy: trackUtilisateurFinalById"
              >
                {{ utilisateurFinalOption.prenomUtilisateur }} {{ utilisateurFinalOption.nomUtilisateur }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.attribution.affectations" for="field_affectations"
              >Affectations</label
            >
            <select class="form-control" id="field_affectations" data-cy="affectations" name="affectations" formControlName="affectations">
              <option [ngValue]="null"></option>
              <option
                [ngValue]="
                  affectationsOption.id === editForm.get('affectations')!.value?.id
                    ? editForm.get('affectations')!.value
                    : affectationsOption
                "
                *ngFor="let affectationsOption of affectationsSharedCollection; trackBy: trackAffectationsById"
              >
                {{ affectationsOption.typeAttribution }}
              </option>
            </select>
          </div>

          <div>
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-primary"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
