<div>
  <h2 id="page-heading" data-cy="EtapesHeading">
    <span jhiTranslate="gestionPatrimoineApp.etapes.home.title">Etapes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.etapes.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etapes"
        [routerLink]="['/etapes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.etapes.home.createLabel"> Create a new Etapes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etapes?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.etapes.home.notFound">No etapes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etapes && etapes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="gestionPatrimoineApp.etapes.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="gestionPatrimoineApp.etapes.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomTache">
            <span jhiTranslate="gestionPatrimoineApp.etapes.nomTache">Nom Tache</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="duration">
            <span jhiTranslate="gestionPatrimoineApp.etapes.duration">Duration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomProjet.id">
            <span jhiTranslate="gestionPatrimoineApp.etapes.nomProjet">Nom Projet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etapes of etapes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etapes', etapes.id, 'view']">{{ etapes.id }}</a>
          </td>
          <td>{{ etapes.dateDebut | formatMediumDatetime }}</td>
          <td>{{ etapes.dateFin | formatMediumDatetime }}</td>
          <td>{{ etapes.nomTache }}</td>
          <td title="{{ etapes.duration }}">{{ etapes.duration | duration }}</td>
          <td>
            <div *ngIf="etapes.nomProjet">
              <a [routerLink]="['/projets', etapes.nomProjet?.id, 'view']">{{ etapes.nomProjet?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/etapes', etapes.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/etapes', etapes.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(etapes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="etapes && etapes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
