<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="commune">
      <h2 data-cy="communeDetailsHeading"><span jhiTranslate="gestionPatrimoineApp.commune.detail.title">Commune</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commune.id }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.commune.nomCommune">Nom Commune</span></dt>
        <dd>
          <span>{{ commune.nomCommune }}</span>
        </dd>
        <dt><span jhiTranslate="gestionPatrimoineApp.commune.nomDepartement">Nom Departement</span></dt>
        <dd>
          <div *ngIf="commune.nomDepartement">
            <a [routerLink]="['/departement', commune.nomDepartement?.id, 'view']">{{ commune.nomDepartement?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/commune', commune.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
