<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-nature-foncier-heading"
        data-cy="NatureFoncierCreateUpdateHeading"
        jhiTranslate="gestionPatrimoineApp.natureFoncier.home.createOrEditLabel"
      >
        Create or edit a Nature Foncier
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.natureFoncier.typeFoncier" for="field_typeFoncier"
            >Type Foncier</label
          >
          <input
            type="text"
            class="form-control"
            name="typeFoncier"
            id="field_typeFoncier"
            data-cy="typeFoncier"
            formControlName="typeFoncier"
          />
          <div *ngIf="editForm.get('typeFoncier')!.invalid && (editForm.get('typeFoncier')!.dirty || editForm.get('typeFoncier')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('typeFoncier')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.natureFoncier.pieceJointe" for="field_pieceJointe"
            >Piece Jointe</label
          >
          <input
            type="text"
            class="form-control"
            name="pieceJointe"
            id="field_pieceJointe"
            data-cy="pieceJointe"
            formControlName="pieceJointe"
          />
          <div *ngIf="editForm.get('pieceJointe')!.invalid && (editForm.get('pieceJointe')!.dirty || editForm.get('pieceJointe')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pieceJointe')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionPatrimoineApp.natureFoncier.nomCorps" for="field_nomCorps"
            >Nom Corps</label
          >
          <select class="form-control" id="field_nomCorps" data-cy="nomCorps" name="nomCorps" formControlName="nomCorps">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="corpsEtatOption.id === editForm.get('nomCorps')!.value?.id ? editForm.get('nomCorps')!.value : corpsEtatOption"
              *ngFor="let corpsEtatOption of corpsEtatsSharedCollection; trackBy: trackCorpsEtatById"
            >
              {{ corpsEtatOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
