<div>
  <h2 id="page-heading" data-cy="CorpsEtatHeading">
    <span jhiTranslate="gestionPatrimoineApp.corpsEtat.home.title">Corps Etats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.corpsEtat.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-corps-etat"
        [routerLink]="['/corps-etat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.corpsEtat.home.createLabel"> Create a new Corps Etat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="corpsEtats?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.corpsEtat.home.notFound">No corpsEtats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="corpsEtats && corpsEtats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomCorps">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.nomCorps">Nom Corps</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grosOeuvre">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.grosOeuvre">Gros Oeuvre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descriptionGrosOeuvre">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.descriptionGrosOeuvre">Description Gros Oeuvre</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="secondOeuvre">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.secondOeuvre">Second Oeuvre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descriptionSecondOeuvre">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.descriptionSecondOeuvre">Description Second Oeuvre</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="oservation">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.oservation">Oservation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etatCorps">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.etatCorps">Etat Corps</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomResponsable.id">
            <span jhiTranslate="gestionPatrimoineApp.corpsEtat.nomResponsable">Nom Responsable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let corpsEtat of corpsEtats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/corps-etat', corpsEtat.id, 'view']">{{ corpsEtat.id }}</a>
          </td>
          <td>{{ corpsEtat.nomCorps }}</td>
          <td>{{ corpsEtat.grosOeuvre }}</td>
          <td>{{ corpsEtat.descriptionGrosOeuvre }}</td>
          <td>{{ corpsEtat.secondOeuvre }}</td>
          <td>{{ corpsEtat.descriptionSecondOeuvre }}</td>
          <td>{{ corpsEtat.oservation }}</td>
          <td>{{ corpsEtat.etatCorps }}</td>
          <td>
            <div *ngIf="corpsEtat.nomResponsable">
              <a [routerLink]="['/responsable', corpsEtat.nomResponsable?.id, 'view']">{{ corpsEtat.nomResponsable?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/corps-etat', corpsEtat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/corps-etat', corpsEtat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(corpsEtat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="corpsEtats && corpsEtats.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
