<div>
  <h2 id="page-heading" data-cy="TypeBatimentHeading">
    <span jhiTranslate="gestionPatrimoineApp.typeBatiment.home.title">Type Batiments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.typeBatiment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-batiment"
        [routerLink]="['/type-batiment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionPatrimoineApp.typeBatiment.home.createLabel"> Create a new Type Batiment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="typeBatiments?.length === 0">
    <span jhiTranslate="gestionPatrimoineApp.typeBatiment.home.notFound">No typeBatiments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typeBatiments && typeBatiments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeBa">
            <span jhiTranslate="gestionPatrimoineApp.typeBatiment.typeBa">Type Ba</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomBatiment.id">
            <span jhiTranslate="gestionPatrimoineApp.typeBatiment.nomBatiment">Nom Batiment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typeBatiment of typeBatiments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/type-batiment', typeBatiment.id, 'view']">{{ typeBatiment.id }}</a>
          </td>
          <td>{{ typeBatiment.typeBa }}</td>
          <td>
            <div *ngIf="typeBatiment.nomBatiment">
              <a [routerLink]="['/batiment', typeBatiment.nomBatiment?.id, 'view']">{{ typeBatiment.nomBatiment?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-batiment', typeBatiment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-batiment', typeBatiment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(typeBatiment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="typeBatiments && typeBatiments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
