<div class="row">
  <div class="col-xs-12 col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-xs-12 col-md-9 mt-3">
    <h2 id="page-heading" data-cy="FicheTechniqueHeading">
      <span jhiTranslate="gestionPatrimoineApp.ficheTechnique.home.title">Fiche Techniques</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="gestionPatrimoineApp.ficheTechnique.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-fiche-technique"
          [routerLink]="['/fiche-technique/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Ajouter une Fiche </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ficheTechniques?.length === 0">
      <span jhiTranslate="gestionPatrimoineApp.ficheTechnique.home.notFound">No ficheTechniques found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ficheTechniques && ficheTechniques.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="pieceJointe">
              <span jhiTranslate="gestionPatrimoineApp.ficheTechnique.pieceJointe">Piece Jointe</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="dateDepot">
              <span jhiTranslate="gestionPatrimoineApp.ficheTechnique.dateDepot">Date Depot</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="nomResponsable.id">
              <span jhiTranslate="gestionPatrimoineApp.ficheTechnique.nomResponsable">Nom Responsable</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ficheTechnique of ficheTechniques; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/fiche-technique', ficheTechnique.id, 'view']">{{ ficheTechnique.id }}</a>
            </td>
            <td>{{ ficheTechnique.pieceJointe }}</td>
            <td>{{ ficheTechnique.dateDepot | formatMediumDatetime }}</td>
            <td>
              <div *ngIf="ficheTechnique.nomResponsable">
                <a [routerLink]="['/responsable', ficheTechnique.nomResponsable?.id, 'view']">{{ ficheTechnique.nomResponsable?.id }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/fiche-technique', ficheTechnique.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                </button>

                <button
                  type="submit"
                  [routerLink]="['/fiche-technique', ficheTechnique.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                </button>

                <button type="submit" (click)="delete(ficheTechnique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="trash-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="ficheTechniques && ficheTechniques.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
