<div class="row">
  <div class="col-md-3">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <div class="card jh-card col-md-9">
    <h2 id="page-heading" data-cy="AttributionHeading" style="text-align: center">
      <span>Liste des Affectations de Matières aux Agents</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Actualiser</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-attribution"
          [routerLink]="['/attribution/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Nouvelle Affectation </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attributions?.length === 0">
      <span jhiTranslate="gestionPatrimoineApp.attribution.home.notFound">No attributions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attributions && attributions.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
            <th scope="col" jhiSortBy="quantiteAffecter">
              <span>Quantite à Affecter</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="idPers">
              <span jhiTranslate="gestionPatrimoineApp.attribution.idPers">Id Pers</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="dateAffectation">
              <span jhiTranslate="gestionPatrimoineApp.attribution.dateAffectation">Date Affectation</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="nomUtilisateur.id"><span>Agents</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="affectations.id">
              <span jhiTranslate="gestionPatrimoineApp.attribution.affectations">Affectations</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attribution of attributions; trackBy: trackId" data-cy="entityTable">
            <!-- <td>
              <a [routerLink]="['/attribution', attribution.id, 'view']">{{ attribution.id }}</a>
            </td> -->
            <td>{{ attribution.quantiteAffecter }}</td>
            <td>{{ attribution.idPers }}</td>
            <td>{{ attribution.dateAffectation | formatMediumDate }}</td>
            <td>
              <div *ngIf="attribution.nomUtilisateur">
                <a [routerLink]="['/utilisateur-final', attribution.nomUtilisateur?.id, 'view']">{{ attribution.nomUtilisateur?.id }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="attribution.affectations">
                <a [routerLink]="['/affectations', attribution.affectations?.id, 'view']">{{ attribution.affectations?.id }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/attribution', attribution.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                </button>

                <button
                  type="submit"
                  [routerLink]="['/attribution', attribution.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                </button>

                <button type="submit" (click)="delete(attribution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="trash-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="attributions && attributions.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
